 <ngx-smart-modal #deleteModal identifier="deleteModal" >
  <div class="modal-header">
    <h4 class="modal-title">{{title == ""?"Confirmação":title}}</h4>
  </div>
  
  <div class="modal-body">
    <p>{{body == ""?"Tem certeza que deseja excluir esse registro?":""}}</p>
  </div>

  <div class="modal-footer">
      <button class="btn btn-danger" (click)="deleteModal.close()">{{textButtonClose == ""?"Cancelar":""}}</button>
      <button class="btn btn-success" (click)="confirm()">{{textButtonConfirmation == ""?"Sim":""}}</button>
  </div>
</ngx-smart-modal>