<div class="alert"
    [class.alert-success]="isSuccess()"
    [class.alert-info]="isInfo()"
    [class.alert-warning]="isWarning()"
    [class.alert-danger]="isDanger()">

  <button *ngIf="isDismissEnabled()" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  
  <strong *ngIf="isTextStrongDefined()" translate>{{alert.textStrong}}</strong>
  
  <span *ngIf="!htmlTextEnabled" translate>{{alert.text}}</span>
  
  <span *ngIf="htmlTextEnabled" [innerHtml]="alert.text"></span>
</div>