.btn-show-password {
  position:absolute;
  top: 7px;
  right: 10px;
  z-index: 10;
  border:none;
  background:transparent;
  outline:none;
  cursor: pointer;
}

.password-line {
  position: relative;
  width: 100%;
}

.password-line input {
  width: 100%;
}