<footer class="footer">
    <div style="width: 100%">
        <div class="py-1 d-flex align-items-center" style="background-color: #2E2E2E; color: #FFFFFF;">
            <div class="row col-md-12">
                <p class="text-center">
                    Desenvolvido por
                    <i class="icofont icofont-social-linkedin"></i>
                    <a href="https://www.linkedin.com/in/paulo-renato/" target="_blank">
                        <strong>Paulo Renato</strong>
                    </a>, 
                    <i class="icofont icofont-social-linkedin"></i>
                    <a href="https://www.linkedin.com/in/binhoferreira1994/" target="_blank">
                        <strong>Rubens Ferreira</strong>
                    </a> e 
                    <i class="icofont icofont-social-linkedin"></i>
                    <a href="https://www.linkedin.com/in/yuri-fernando-silva-1b772814b/" target="_blank">
                        <strong>Yuri Bol</strong>
                    </a>. © {{date.getFullYear()>2018?"2018 - " + date.getFullYear():date.getFullYear()}} Copyright:
                    <a href="https://www.faculdadenovaroma.com.br/site/" target="_blank">
                        <strong> Faculdade Nova Roma</strong>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>