<div class="table-responsive">
  <button class="btn btn-primary-2" routerLink="/users/new" *ngIf="user.profileType == 'GERENTE'">
    <i class="icofont icofont-plus"></i> 
    {{'button.new' | translate}}
  </button>
</div>

<br/>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr class="bg-nr">
        <th class="text-center">
          <i class="icofont icofont-thin-down"></i>
        </th>
        <th translate>label.login</th>
        <th translate>label.name</th>
        <th translate>label.email</th>
        <th translate>label.phone</th>
        <th translate>label.profileType</th>
      </tr>
    </thead>
    <tbody *ngFor="let itens of dataProvider">
      <tr *ngIf="itens.length == 0">
        <td colspan="6" class="text-center" translate>dataProviderLengthZero.user</td>
      </tr>
      <tr *ngFor="let item of itens" (click)="openModalDetails(item)">
        <td class="td-actions">
          <button class="btn btn-outline-warning btn-sm" (click)="edit(item)">
            <i class="icofont icofont-ui-edit"></i>
          </button>
        </td>
        <td>{{ item.login }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.profileType }}</td>
      </tr>
    </tbody>
  </table>
</div>

<alert-confirmation-delete (eventConfirmDelete)="confirmDelete($event)"></alert-confirmation-delete>

<ngx-smart-modal #modalDetail identifier="modalDetail" >
  <div class="modal-header">
    <h4 class="modal-title" translate>title.details</h4>
  </div>
  
  <div class="modal-body">
    <form name="form" #form="ngForm">
      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'login'"
                    [label]="'label.login' | translate" [field]="'name'" name="selectedUser.login"
                    [(ngModel)]="selectedUser.login"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'phone'"
                    [label]="'label.phone' | translate" [field]="'phone'" name="selectedUser.phone"
                    [ngModel]="selectedUser.phone" (ngModelChange)="selectedUser.phone = $event"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #name="ngModel" [id]="'name'"
                    [label]="'label.name' | translate" [field]="'name'" name="selectedUser.name"
                    [(ngModel)]="selectedUser.name"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #email="ngModel" [id]="'email'"
                    [label]="'label.email' | translate" [field]="'email'" name="selectedUser.email"
                    [(ngModel)]="selectedUser.email"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-12" [form]="form" [readonly]="true" #profileType="ngModel" [id]="'profileType'"
                    [label]="'label.profileType' | translate" [field]="'profileType'" name="selectedUser.profileType"
                    [(ngModel)]="selectedUser.profileType"></app-input>
      </div>
    
      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateInsert'"
                    [label]="'label.insertedIn' | translate" name="selectedUser.dateInsert"
                    [ngModel]="selectedUser.dateInsert | dateTimeFormat"
                    (ngModelChange)="selectedUser.dateInsert = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userInsert'"
                    [label]="'label.insertedBy' | translate" name="selectedUser.userInsert.name"
                    [ngModel]="selectedUser.userInsert?.name"
                    (ngModelChange)="selectedUser.userInsert.name = $event"></app-input>
      </div>

      <div class="row">
        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'dateUpdate'"
                    [label]="'label.updatedIn' | translate" name="selectedUser.dateUpdate"
                    [ngModel]="selectedUser.dateUpdate | dateTimeFormat"
                    (ngModelChange)="selectedUser.dateUpdate = $event"></app-input>

        <app-input class="col-sm-6" [form]="form" [readonly]="true" #name="ngModel" [id]="'userUpdate'"
                    [label]="'label.updatedBy' | translate" name="selectedUser.userUpdate.name"
                    [ngModel]="selectedUser.userUpdate?.name"
                    (ngModelChange)="selectedUser.userUpdate.name = $event"></app-input>
      </div>

      <div class="row pt-3" *ngIf="user.profileType == 'GERENTE'">
        <div class="col-sm-12 text-right">
          <button class="btn btn-outline-danger" translate (click)="delete(selectedUser)" [disabled]="sameUser()">
            <i class="icofont icofont-delete-alt"></i>
            button.delete
          </button>
        </div>
      </div>
    </form>
  </div>
</ngx-smart-modal>