/* You can add global styles to this file, and also import other style files */

/* Definição de variável ambiente */
:root{
    --background-nova-roma: #0f2542;
}
  
.btn {
    cursor: pointer;
}

nav.navbar {
    z-index: 1040 !important;
}

nav#main_navbar{
    z-index: 1039 !important;
}

/* Barra em Header */
nav.navbar.header-navbar.pcoded-header.bg-nova-roma{
    background: var(--background-nova-roma);
}

#main_navbar div.pcoded-inner-navbar.main-menu.bg-nova-roma{
    background: var(--background-nova-roma);
}

aside.pcoded-slider.ng-sidebar {
    top: 56px;
}

.slimscroll-wrapper, .scroll-window {
    width: 100% !important;
}

.userlist-box.show {
    display: -webkit-box;
}

.userlist-box.hide {
    display: none;
}

.pcoded-inner-content{
    padding: 0px;
}

.table>tbody>tr:hover{
    background-color:#FFFACD;
}

.bg-nr{
    background-color: #1E467A;
    color: white;
}

.table{
    background-color: #f5f5f5;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;
}

tfoot td.background-totality{
    background-color: #FFD700;
    font-weight: bold;
}

td > a > i.icofont.icofont-delete-alt{
    color: red;
    cursor: pointer
}

.td-actions{
    width: 1px;
}

.btn-primary-2{
    background-color: #004196;
    color: #ffffff;
}