<form name="form" #form="ngForm" (ngSubmit)="submit(form.valid)">
  <div class="form-group row">

    <!-- NOME -->
    <app-input class="col-sm-12" [form]="form" [field]="'name'" [minlength]="2" [maxlength]="20" [id]="'name'" required [label]="'label.name' | translate"
      name="user.name" [control]="name" #name="ngModel" [(ngModel)]="user.name"></app-input>
  </div>

  <div class="form-group row">
    <!-- LOGIN -->
    <app-input class="col-sm-6" [form]="form" [field]="'name'" [minlength]="2" [maxlength]="20" [id]="'login'" required [label]="'label.login' | translate"
      name="user.login" [control]="login" #login="ngModel" [(ngModel)]="user.login"></app-input>

    <!-- EMAIL -->
    <app-input class="col-sm-6" [form]="form" [field]="'email'" [type]="email" [id]="'email'" required [label]="'label.email' | translate"
      name="user.email" [control]="email" #email="ngModel" [ngModel]="user.email" (ngModelChange)="user.email = $event"></app-input>
  </div>

  <div class="form-group row">
    <!-- PHONE -->
    <app-input class="col-sm-6" [form]="form" [field]="'phone'" [type]="text" [minlength]="11" [maxlength]="11" [id]="'phone'"
      required [label]="'label.phone' | translate" name="user.phone" [control]="phone" #phone="ngModel" [ngModel]="user.phone"
      (ngModelChange)="user.phone = $event"></app-input>

    <!-- PROFILE TYPE -->
    <app-select class="col-sm-4" [modelList]="true" [list]="listProfileTypes" [form]="form" [field]="'profileType'" [id]="'profileType'"
      required [label]="'label.profileType' | translate" name="user.profileType" [control]="profileType" #profileType="ngModel"
      [disabled]="loggedUser.profileType != 'GERENTE'" [(ngModel)]="user.profileType"></app-select>
  </div>

  <div class="form-group row">
    <!-- PASSWORD -->
    <app-input class="col-sm-6" [form]="form" [field]="'name'" [type]="'password'" [minlength]="2" [maxlength]="20" [id]="'login'"
      [required]="!modelEdit" [label]="'label.password' | translate" name="user.password" [control]="password" #password="ngModel" [(ngModel)]="user.password"></app-input>
  </div>

  <div class="form-group row">
    <div class="col-sm-12 text-right">
      <button class="btn btn-outline-info" (click)="comeback()">
        <i class="icofont icofont-arrow-left"></i>
        {{'button.back' | translate}}
      </button>
      <button class="btn btn-success">
        <i class="icofont icofont-save"></i>
        {{'button.save' | translate}}
      </button>
    </div>
  </div>
</form>

<alert-confirmation-password (eventConfirmUpdate)="confirmUpdate($event)"></alert-confirmation-password>