<ngx-smart-modal #modalPassword identifier="modalPassword">
  <div class="modal-header">
    <h4 class="modal-title">{{title == ""?"Confirmação":title}}</h4>
  </div>

  <div class="modal-body">
    <form name="form" #form="ngForm" (ngSubmit)="submit(form.valid)">
      <div class="form-group row">
        <!-- LOGIN -->
        <app-input class="col-sm-12" [form]="form" [field]="'name'" [type]="'text'" [id]="'login'" [disabled]="true"
          required [label]="'label.login' | translate" name="login" [control]="login" #login="ngModel" [(ngModel)]="loggedUser.login"></app-input>
      </div>
      
      <div class="form-group row">
        <!-- PASSWORD -->
        <app-input class="col-sm-12" [form]="form" [field]="'name'" [type]="'password'" [minlength]="2" [maxlength]="20" [id]="'password'"
          required [label]="'label.password' | translate" name="userConfirm.password" [control]="password" #password="ngModel" [(ngModel)]="userConfirm.password"></app-input>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button class="btn btn-danger" (click)="modalPassword.close()">{{textButtonClose == ""?"Cancelar":""}}</button>
    <button class="btn btn-success" (click)="confirm()">{{textButtonConfirmation == ""?"Sim":""}}</button>
  </div>
</ngx-smart-modal>